NEXT_PUBLIC_SITE_URL=https://www.khayalparfum.com
NEXT_PUBLIC_WHATSAPP_NUMBER=923202704617
NEXT_PUBLIC_BUSINESS_EMAIL=official@khayalparfum.com
NEXT_PUBLIC_FREE_SHIPPING_THRESHOLD=5000
NEXT_PUBLIC_GA4_MEASUREMENT_ID=G-FTPHVPR128
NEXT_PUBLIC_GTM_ID=GTM-MCGCTF27
NEXT_PUBLIC_META_PIXEL_ID=1376042894320095
NEXT_PUBLIC_CLARITY_PROJECT_ID=ykfeupmawo
